<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About Nthumo</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/dist/styles.css' %}">
    </head>

    <body class="bg-zinc-900">
        <div class="pt-4 ">
            <header class="flex rounded-lg h-80  text-white text-5xl bg-zinc-800 ">
                <h1>
                    <span class="text-black">ABOUT</span>
                    <span>ME</span>
                    <p class="text-slate-600"></p>
                </h1>
               
            </header>

        </div>
        
    </body>
</html>