<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My skills</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/dist/styles.css' %}">

        <body class="bg-zinc-900">
            <div class="text-white">
                <h1 class="text-center pt-8">
                    I have studied Python for months now, and i'm working on making myself profient enough to run an appliction by myself. So help me God.

                </h1>
                
            </div>
        </body>

    </head>
</html>