{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My skills</title>
        
        <link rel="stylesheet" href="{% static 'css/dist/styles.css' %}">

        <style>
            .custom-header {
                display: inline-block;
                width: max-content;
            }
        </style>
    </head>
    <body class="bg-zinc-900 p-4 overflow-auto">

        <!--main container-->
        <div class="grid md:grid-cols-2 gap-4">

            <!--programming languages-->
            <div class="bg-zinc-800 min-h-[100px] text-white text-center rounded-lg">
                <h1>
                    <span class="underline-offset-8 decoration-double decoration-sky-400 underline text-white"> PROGRAMMING LANGUAGES</span>
                    <ul class="grid gap-2 pt-4 p-4 ">
                        <li class="flex gap-4 items-center block p-2 bg-black hover:border rounded-lg">Python</li>
                        <li class="flex gap-4 items-center block p-2 bg-black hover:border rounded-lg">JavaScript</li>
                        <li class="flex gap-4 items-center block p-2 bg-black hover:border rounded-lg">C/C++</li>
                        <li class="flex gap-4 items-center block p-2 bg-black hover:border rounded-lg">HTML/CSS</li>
                        <li class="flex gap-4 items-center block p-2 bg-black hover:border rounded-lg">SQL</li>
                    </ul>
                    
                </h1>

            </div>

            <!--frameworks and libraries-->
            <div class="bg-zinc-800 min-h-[100px] h-40 text-white text-center rounded-lg">
                <h1>
                    <span class="underline-offset-8 decoration-double decoration-sky-400 underline text-white">FRAMEWORKS AND LIBRARIES</span>
                    <ul class="grid gap-2 pt-4 p-4">
                        <li class="flex gap-4 items-center block p-2 bg-black hover:border rounded-lg">Django</li>
                        <li class="flex gap-4 items-center block p-2 bg-black hover:border rounded-lg">Tailwind CSS</li>
                    </ul>
                    
                </h1>
             </div>

            <!--databases-->
             <div class="bg-zinc-800 min-h-[100px] text-white text-center rounded-lg">
                <h1>
                    <span class="text-white underline decoration-double decoration-sky-400 underline-offset-8">DATABASES</span>
                    <ul class="grid gap-2 pt-4 p-4">
                        <li class="flex gap-4 items-center block p-2 bg-black hover:border rounded-lg">PostreSQL</li>
                        <li class="flex gap-4 items-center block p-2 bg-black hover:border rounded-lg">SQLite</li>
                        <li class="flex gap-4 items-center block p-2 bg-black hover:border rounded-lg">MongoDB</li>
                    </ul>
                    
                </h1>
             </div>

             <!--apis and web services-->
             <div class="bg-zinc-800 min-h-[100px] text-white text-center rounded-lg">
                <h1>
                    <span class="text-white underline underline-offset-8 decoration-double decoration-sky-400">APIs AND WEB SERVICES</span>
                    <ul class="grid gap-2 pt-4 p-4">
                        <li class="flex gap-4 items-center block p-2 bg-black hover:border rounded-lg">RESTful APIs</li>
                        <li class="flex gap-4 items-center block p-2 bg-black hover:border rounded-lg">GraphQl</li>
                        <li class="flex gap-4 items-center block p-2 bg-black hover:border rounded-lg">API Intergration</li>
                    </ul>
                    
                </h1>
             </div>

             <!--version control and collaboration-->
             <div class="bg-zinc-800 min-h-[100px] h-40 text-white text-center rounded-lg">
                <h1>
                    <span class="underline underline-offset-8 decoration-double decoration-sky-400">VERSION CONTROL AND COLLABORATION</span>
                    <ul class="grid gap-2 pt-4 p-4">
                        <li class="flex gap-4 items-center block p-2 bg-black hover:border rounded-lg">Git</li>
                        <li class="flex gap-4 items-center block p-2 bg-black hover:border rounded-lg">GitHub</li>
                    </ul>
                    
                </h1>
             </div>

            <!--development tools-->
             <div class="bg-zinc-800 min-h-[100px] text-white text-center rounded-lg">
                <h1 class="">
                    <span class="underline underline-offset-8 decoration-double decoration-sky-400">DEVELOPMENT TOOLS</span>
                    <ul class="grid gap-2 pt-4 p-4">
                        <li class="flex gap-4 items-center block p-2 bg-black hover:border rounded-lg">Docker</li>
                        <li class="flex gap-4 items-center block p-2 bg-black hover:border rounded-lg">Kubernetes</li>
                        <li class="flex gap-4 items-center block p-2 bg-black hover:border rounded-lg">Visual Studio Code</li>
                    </ul>
                    
                </h1>
             </div>
        </div>
    </body>

</html>
